//colors
$color-primary: #920303;
$color-primary-dark: #750202;
$color-primary-light: #a83535;

$color-white: #fff;
$color-white-dark: #e5e5e5;

$color-black: #000;
$color-black-light: #333333;

$color-grey: #efefef;

//fonts
$font-size-small: 1.4rem;
$font-size-medium: 2rem;
$font-size-big: 3.5rem;
$font-size-large: 5.6rem;

$font-default: "Poppins";
$font-secondary: "Poppins";

//grid
$grid-width: 2.5rem;
